spring:
  datasource:
    url: jdbc:mysql://localhost:3307/online_shop_api_db?useUnicode=true&characterEncoding=utf8&useSSL=false&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  jwt:
    secretKey: asdasdasdasdasd123344asdasdasdasdasasd12321332sadas
    tokenPrefix: Bearer
    tokenExpirationAfterDays: 7
server:
  error:
    include-binding-errors: always
    include-message: always
app:
  cors:
    allowed-origins: http://127.0.0.1:*,http://localhost:*,http://host.docker.internal:*,http://localhost:3000,http://127.0.0.1:3000
